<h1>Articles</h1>

<p>A list of all of the articles on the site. Who needs pagination!</p>

<ul>
  <% @articles.each do |article| %>
    <li>
      <%= link_to article.title, article %>
    </li>
  <% end %>
</ul>

